/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo. 
Feel free to use it if you like. */
.scoreboard {
  position: absolute;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

svg.arena {
  height: 700px;
  width: 700px;
  border: 1px solid black;
}